<div class="sign-in-form-container">
  <form class="sign-in-form" action="<%= session_url %>" method="POST">
    <%= authenticity_token %>
    
    <h2>Sign in</h2>
    
    <div class="email-input-container">
      <label for="session-email">Email:</label>
      <input id="session-email" 
        type="email" 
        name="user[email]">
    </div>
  
    <div class="password-input-container">
      <label for="session-password">Password:</label>
      <input id="session-password"
        type="password"
        name="user[password]">
    </div>
  
    <button class="wide-button">Log in</button>
  </form>
</div>