<%= authenticity_token %>

<label for="post-title-field">Title:</label>
<input id="post-title-field"
  type="text"
  name="post[title]"
  value="<%= @post.title %>">
<br>  
<textarea class="post-body-field" name="post[body]"><%= @post.body %></textarea>
<br>