/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Reset

html, body, section, article, div, blockquote,
h1, h2, h3, h4, h5, h6, p, a, span, big, small, 
ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
  box-sizing: content-box;
  background: transparent;
  font-weight: normal;
  outline: none;
}

// General

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
}

section {
  padding: 80px 0;
}

blockquote {
  padding: 30px;
  font-style: italic;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
  margin: 15px 0;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: 12px;
  color: #777;
}

a {
  color: #5C8ACC;
}

a:hover {
  text-decoration: underline;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border-bottom: 2px solid #000;
  outline: none;
  padding: 0 10px;
  margin-left: 10px;
}

.clear-fix:after {
  content: '';
  display: block;
  clear: both;
}

.heading-hr {
  width: 50px;
}

.wide-button {
  display: block;
  background: #2E9AFE;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 150px;
  border: 1px solid #045FB4;
  border-radius: 5px;
  box-shadow: 0 2px #888;
  margin: auto;
}

.wide-button:hover {
  cursor: pointer;
  background: #58ACFA;
}

.wide-button:focus {
  border: 1px solid #fff;
  background: #1F72D8;
  outline: none;
}

.dangerous-button {
  display: block;
  background: #d44;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 150px;
  border: 1px solid #b22;
  border-radius: 5px;
  box-shadow: 0 2px #888;
  margin: auto;
  margin-top: 30px;
}

.dangerous-button:hover {
  cursor: pointer;
  background: #e55;
  outline: none;
}

.dangerous-button:focus {
  border: 1px solid #fff;
  background: #1F72D8;
}

.wide-button:active,
.dangerous-button:active {
  position: relative;
  bottom: -2px;
  box-shadow: none;
}

// Logged-in header

.logged-in-header {
  background: #111;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  margin-top: 48px;
  z-index: 100;
}

.logged-in-header nav {
  max-width: 900px;
  margin: auto;
}

.logged-in-header a,
.logged-in-header button {
  color: #fff;
  display: block;
  float: right;
  padding: 5px 15px;
}

.logged-in-header a:hover,
.logged-in-header button:hover {
  cursor: pointer;
  color: #aaa;
  text-decoration: none;
}

// Site header

.site-header {
  background: #111;
  width: 100%;
  opacity: 0.9;
  position: fixed;
  z-index: 100;
}

.site-header nav {
  max-width: 900px;
  margin: auto;
}

.site-header .logo {
  float: left;
}

.site-header ul {
  float: right;
}

.site-header li {
  float: left;
}

.site-header a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 15px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header .logo a {
  color: #fff;
  display: block;
  padding: 11px;
  font-size: 20px;
}

.site-header a:hover {
  color: #aaa;
}

// Site main

.site-main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-header {
  text-align: center;
}

// Intro section

.intro-section {
  background-image: image-url('background.jpg');
  background-repeat: repeat-x;
  background-size: 120% 100%;
  background-position: 0 0;
  height: 100%;
  text-align: center;
  padding: 0;
  color: #fff;
}

.intro-section-content {
  opacity: 0;
}

.profile-info {
  padding-top: 100px;
}

.profile-text {
  max-width: 700px;
  margin: auto;
}

.icon-bar {
  width: 390px;
  margin: 20px auto;
}

.icon-bar li {
  float: left;
}

.icon-bar a {
  padding: 0 30px;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.icon-bar a:hover {
  opacity: 1;
}

.icon-bar img {
  height: 70px;
}

// About section

.about-section {
  color: #fff;
  background: #222;
}

.about-main {
  margin: 50px auto;
  text-align: center;
  line-height: 2;
}

.profile-pic {
  border: 3px solid #000;
  width: 150px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: bottom;
}

.about-info {
  display: inline-block;
  width: 500px;
  margin-left: 40px;
  text-align: left;
}

@media (max-width: 750px) {
  .profile-pic, .about-info {
    display: block;
  }
}

.about-main a {
  color: #73BDFF;
}

// Projects section

.projects-section {
  background: #888;
  color: #fff;
}

.projects-section h5 {
  text-align: center;
}

.projects-section a {
  color: #73BDFF;
}

.projects-list {
  max-width: 728px;
  margin: 50px auto;
}

.project {
  float: left;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: #eee;
  position: relative;
}

.project a {
  font-weight: bold;
  color: #73BDFF;
}

.project img {
  width: 300px;
  height: 230px;
}

.project-info-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.project-info {
  padding: 5px 18px;
  line-height: 1.5;
}

.project-info p {
  text-align: justify;
}

.project:hover .project-info-container {
  visibility: visible;
  opacity: 1;
}

// Contact section

.contact-section {
  padding-bottom: 0;
}

.contact-section .heading-hr {
  margin-bottom: 40px;
}

.contact-section .icon-bar {
  margin-top: 30px;
  width: 510px;
}

.contact-section .icon-bar a,
.contact-section #email-icon {
  text-align: center;
  color: #000;
  padding: 0 50px;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contact-section .icon-bar a p,
.contact-section #email-icon p {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contact-section #email-icon:hover,
.contact-section .icon-bar a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}

.contact-section #email-icon:hover p,
.contact-section .icon-bar a:hover p {
  opacity: 1;
}

.contact-section .icon-bar p {
  margin-top: 5px;
}

.email-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}

.email-modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  background: #222;
  height: 250px;
  width: 500px;
  margin-top: -200px;
  margin-left: -250px;
  border: 3px solid #fff;
  border-radius: 10px;
  z-index: 100;
}

.email-modal .exit {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}

.email-modal .exit:hover {
  cursor: pointer;
}

.email-modal .content .email-container {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -15px;
}

.display-off {
  display: none;
}
 
// Site footer

.site-footer img {
  width: 100%;
  z-index: -1;
  position: relative;
}

// Flashes

.flash {
  color: #fff;
  padding: 10px;
  margin: auto;
  margin-top: 48px;
  width: 100%;
  position: fixed;
}

.flash > li {
  list-style: disc inside;
  padding: 0 10px;
}

.errors-list {
  background: #f77;
}

.notices-list {
  background: #2e4;
}





