// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Blog section

.blog-section {
  background: #fff;
  padding: 0;
}

.left-section {
  float: left;
  min-width: 600px;
  max-width: 600px;
  padding: 0;
  padding-top: 30px;
}

.right-section {
  float: left;
  max-width: 270px;
  padding: 0;
  padding-top: 30px;
}

.blog-section header {
  background: #222;
  color: #fff;
  padding: 100px;
  text-align: center;
}

.blog-section h2 {
  margin: 0;
  display: inline;
}

.blog-section hr {
  margin-bottom: 20px;
}

.blog-main {
  max-width: 870px;
  margin: auto;
  padding: 0 15px;
}

// Left section

.posts-list {
  margin-right: 20px;
}

.post-preview {
  padding: 20px 0;
}

.post-preview .read-more {
  margin-top: 10px;
}

// Right section

.search-bar {
  border: 2px solid #222;
  border-radius: 20px;
  width: 270px;
  padding: 5px;
  background: #999;
  color: #fff;
}

.search-bar:focus {
  border: 2px solid #5C8ACC;
  outline: none;
  background: #777;
}

// New post

.new-post-section .section-header {
  margin-bottom: 30px;
}

.post-form {
  max-width: 780px;
  margin: auto;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 50px;
  background: #eee;
}

#post-title-field {
  box-sizing: border-box;
  width: 270px;
}

.post-body-field {
  box-sizing: border-box;
  padding: 20px;
  display: block;
  margin: 30px auto;
  height: 360px;
  width: 100%;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}

// Show post

.show-post-main {
  border: 3px solid #000;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  max-width: 670px;
  padding: 30px;
  overflow: scroll;
}

// Search section

.search-section {
  max-width: 870px;
  padding: 80px 15px;
  margin: auto;
}

// Pagination

.pagination > span > a {
  padding: 0 10px;
}



