// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Blog section

.blog-section {
  background: #fff;
  padding: 0;
}

.blog-section header {
  background: #222;
  color: #fff;
  padding: 100px;
  text-align: center;
}

.blog-section h2 {
  margin: 0;
  display: inline;
}

.blog-section hr {
  margin-bottom: 20px;
}

.posts-list {
  padding: 0 30px;
}

.post-preview {
  padding: 20px 0;
}

.post-preview p {
  padding: 20px 0;
}

.post-preview .read-more {
  margin-top: 10px;
}

.pagination {
  text-align: center;
}

.pagination > span > a {
  padding: 0 10px;
}



