// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-form-container {
  margin-top: 120px;
}

.sign-in-form {
  border: 3px solid #000;
  width: 275px;
  margin: auto;
  padding: 30px 50px;
  border-radius: 15px;
  background: #fff;
}

.sign-in-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.email-input-container,
.password-input-container {
  margin-bottom: 20px;
  text-align: right;
}