<header class='site-header'>
  <nav class='clear-fix'>
    <div class='logo'><a href='<%= root_url %>'>Stefan Huynh</a></div>
    <ul class='clear-fix'>
      <li><a href='#'>About</a></li>
      <li><a href='#'>Projects</a></li>
      <li><a href='#'>Contact</a></li>
      <li><a href='<%= posts_url %>'>Blog</a></li>
    </ul>
  </nav>
</header>